<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar >
            <ion-title>Menu Content</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-item (click)="recuperar()">
            <ion-label>Cambio de Clave</ion-label>
        </ion-item>
        <ion-item (click)="asistencia()">
            <ion-label>Ver Asistencia</ion-label>
        </ion-item>
        <ion-item (click)="cerrarSesion()">
            <ion-label>Salir</ion-label>
        </ion-item>
    </ion-content>
</ion-menu>

<ion-content id="main-content" class="ion-page">
    <ion-header>
        <ion-toolbar class="degradado">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Duoc UC</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>