<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-app>
      <ion-content class="ion-padding">
        <menu></menu>
      </ion-content>
    </ion-app>

    <ion-buttons slot="end">
      <ion-button (click)="fav()">
        <ion-icon [color]="color" slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <menu></menu>

  <ion-card-title>Bienvenido {{ usuario }}</ion-card-title>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/IA.svg" />
    <ion-card-header>
      <ion-card-title>Escanear QR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Marca Asistencia.
    </ion-card-content>
    <ion-card-content>
      {{ nombre }} {{ apellido }}

      <ion-list>
        <ion-item *ngFor="let barcode of barcodes">
          <ion-label>{{ barcode.format }}</ion-label>
          <ion-text readonly>{{ barcode.rawValue }}</ion-text>
        </ion-item>
      </ion-list>
      
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="scan()" [disabled]="!isSupported">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      <ion-alert [isOpen]="isAlertOpen" header="{{alertHeader}}" message="{{alertMessage}}" buttons="Aceptar"
        (didDismiss)="isAlertOpen = false"></ion-alert>
      
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">principal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
