<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="centrado">
    <ion-img src="assets/login1.svg"> </ion-img>

    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="mdl_usuario"></ion-input>
    </ion-item>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input type="password" label="Contraseña" labelPlacement="floating" [(ngModel)]="mdl_contrasena"></ion-input>
    </ion-item>

    <ion-button expand="block" class="input-confirmar ion-margin-top boton" (click)="navegar()"> Ingresar </ion-button>
    <ion-button expand="block" class="input ion-margin-top boton" (click)="navegarARegistro()">Registro </ion-button>
    <ion-button expand="block" class="input ion-margin-top boton" (click)="navegarRecuperar()">recuperar clave </ion-button>
    <ion-alert [isOpen]="isAlertOpen" header="{{alertHeader}}" message="{{alertMessage}}" buttons="Aceptar"
  (didDismiss)="isAlertOpen = false"></ion-alert>
   
    <ion-item color="primary" color="warning" class="ion-margin-top">
      <ion-label> CANTIDAD DE USUARIOS: {{ cantidad }}</ion-label>
      
    </ion-item>
  </div>

</ion-content>