<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title >Bienvenido {{ usuario }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="mostrarAsistencia()">Mostrar Asistencia</ion-button>
      
      <ion-list *ngIf="asistencias && asistencias.length > 0">
        <ion-item *ngFor="let x of asistencias">
          <ion-card-header>
            <ion-label>{{ x.ASIGNATURA }}</ion-label>
            <ion-label>{{ x.CODIGO_ASIGNATURA }}</ion-label>
            <ion-label>Total de Clases: {{ x.TOTAL_CLASES }}</ion-label>
            <ion-label>Clases Presente: {{ x.CLASES_PRESENTE }}</ion-label>
            <ion-label>Clases Ausente: {{ x.CLASES_AUSENTE }}</ion-label>
            <ion-label>Usuario: {{ x.USUARIO }}</ion-label>
          </ion-card-header>
        </ion-item>
      </ion-list>
      <ion-button expand="block" class="input-amarillo ion-margin-top boton" (click)="principal()">volver </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


