<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="centrado">
    <ion-img src="assets/clave.svg"></ion-img>
    <div class="ion-padding">
      <form (ngSubmit)="recuperarContrasena()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nombreUsuario" required name="nombreUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña Actual</ion-label>
          <ion-input type="password" [(ngModel)]="contrasenaActual" required name="contrasenaActual"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Nueva Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="nuevaContrasena" required name="nuevaContrasena"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Confirmar  Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="ConfirmarContrasena" required name="ConfirmarContrasena"></ion-input>
        </ion-item>
        <ion-button expand="block" class="input-confirmar ion-margin-top boton"
          (click)="recuperarContrasena()">Recuperar Contraseña</ion-button>

        <ion-button expand="block" class="input-confirmar ion-margin-top boton"
          (click)="navegarLogin()">Volver</ion-button>
      </form>
    </div>
  </div>
</ion-content>
<ion-alert [isOpen]="isAlertOpen" header="{{alertHeader}}" message="{{alertMessage}}" buttons="Aceptar"
  (didDismiss)="isAlertOpen = false"></ion-alert>