/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/*Estilos de letras*/

.titulo{
    margin: auto 2rem;
    font-size: 2rem;
    font-weight: bold;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.azul-oscuro{
    --backgroud: #252440;
}

/*Estilos de body*/

.fondo {
    --background: #f8f8f8;
    --color: #000000;
}

.degradado {
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,8,8,1) 26%, rgba(121,9,9,1) 61%, rgba(0,212,255,1) 100%);
    --color: #FFFFFF;
}

.centrado {
    margin-top: 20px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}


/*Estilos de botones*/

.input-amarillo {
    --background: #e5f835;
    border-radius: 5px;
}

.input-cancelar{
    --background: #c53d3d;
    border-radius: 5px;
    color: #FFFFFF;
}

.input-confirmar{
    --background: #54cc49;
    border-radius: 5px;
    color: #FFFFFF;
}

.boton {
    height: 55px;
}


.circle-container {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  overflow: hidden; 
  position: relative; 
}

.circle-img {
  width: 100%; 
  height: auto;
  display: block; 
}

