<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="centrado">

    <h1 class="titulo">Bienvenido </h1>
    <ion-img src="assets/undraw_phone_call_re_hx6a.svg"> </ion-img>
  </div>
</ion-content>
